html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}
.form-signin {
  max-width: 900px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
main {
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}
input:focus {
  outline: none;
  border-bottom: 1px solid #222 !important;
}
button {
  background: #6dabe4;
}
a {
  color: #222;
}

.form-control:focus {
  box-shadow: none;
}
